./01-Historian-Hysteria/input.txt
./01-Historian-Hysteria/prog

./02-Red-Nosed-Report/input.txt
./02-Red-Nosed-Report/prog
./02-Red-Nosed-Report/prog2

./03-Mull-it-Over/prog1
./03-Mull-it-Over/input.txt

./04-Ceres-Search/input.txt
