.vscode/
/01:Historian-Hysteria/01-part1.cpp
/01:Historian-Hysteria/01-part2.cpp
/02-Red-Nosed-Report/input.txt
/02-Red-Nosed-Report/prog
/02-Red-Nosed-Report/prog2
/03-Mull-it-Over/input.txt
/03-Mull-it-Over/prog1
/04-Ceres-Search/input.txt
/05-Print-Queue/input.txt
/06-Guard-Gallivant/input.txt
/06-Guard-Gallivant/part02
/06-Guard-Gallivant/prog1
/06-Guard-Gallivant/testInput.txt
/07-Bridge-Repair/testInput.txt
/07-Bridge-Repair/input.txt
/07-Bridge-Repair/prog2
/07-Bridge-Repair/prog1
/08-Resonant-Collinearity/input.txt
/08-Resonant-Collinearity/testInput.txt
/08-Resonant-Collinearity/prog1
/08-Resonant-Collinearity/prog2